config/
autoconf/libtool.m4
autoconf/ltoptions.m4
autoconf/ltsugar.m4
autoconf/ltversion.m4
autoconf/lt~obsolete.m4
**/Makefile.in
**/Makefile
autom4te.cache/
configure
config.h.in
aclocal.m4
**/.deps
**/.libs
**/*.lo
**/*.la
**/*.o
libtool
stamp-h1
config.h
config.log
config.status
